body,html{
	font-family: microsoft yahei, sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #555;
	width: 100% !important;
	height: 100% !important;
}


#myCarousel{
	margin: 50px 0 0 0;
}
.logo{
	/*padding: 0; 是图片的时候这样调整logo */ 
}
#navbar-collapse ul{
	margin-top:0 ;
}
.carousel-inner img{
	margin:0 auto;
	overflow: auto;
}
.tab-h2{
	font-size: 20px;
	text-align: center;
	letter-spacing: 2px;
	color: #0059b2;
	}
.tab-p{
	font-size: 15px;
	text-align: center;
	letter-spacing: 2px;
	color: #999;
	margin: 20px 0 40px 0;
}
.tab1{
	margin: 30px 0;
	color: #666;
	}
.col-md-6 .media{
	text-align: center;
	}
.tab1 .text-muted{
	color: #999;
	text-decoration: line-through;
}
.tab1 .media-heading{
	margin: 5px 0 20px 0;
}
.tab1 .col{
	padding: 20px;
	}
	
	
	
.jumbotron{
	background: url(../img/bg.jpg);
	margin-top: 50px ;
	padding: 60px 0;
	color: #ccc;
}
.jumbotron h1{
	font-size:  26px;
	padding: 0 0 0 20px;
}
.jumbotron h4{
	font-size: 15px;
	padding: 0 0 0 20px;
}

/* 小屏幕(平板,大于等于 768px) */
 @media (min-width: 768px) {
    .tab-h2 {
       font-size: 26px;
}
.tab-p {
       font-size: 16px;
    }
    .text h3{
	font-size: 24px;
}
.text p{
	font-size: 15px;
}
.jumbotron h1{
	font-size:  30px;
	padding: 0 0 0 20px;
}
.jumbotron h4{
	font-size: 18px;
	padding: 0 0 0 20px;
}
.info-content h4{
	padding: 2px 0 0 0;
	color: #333;
	font-size: 16px;
}



}
/* 中等屏幕(桌面显示器,大于等于 992px) */
 @media (min-width: 992px) {
    .tab-h2 {
       font-size: 28px;
}
.tab-p {
       font-size: 17px;
    }
    .text h3{
	font-size: 25px;
}
.text p{
	font-size: 16px;
}
.jumbotron h1{
	font-size:  33px;
	padding: 0 0 0 20px;
}
.jumbotron h4{
	font-size: 19px;
	padding: 0 0 0 20px;
}
.info-content h4{
	padding: 2px 0 0 0;
	color: #333;
	font-size: 18px;
}



}
/* 大屏幕(大桌面显示器,大于等于 1200px) */
 @media (min-width: 1200px) {
    .tab-h2 {
       font-size: 30px;
}
.tab-p {
       font-size: 18px;
    }
    .text h3{
	font-size: 26px;
}
.text p{
	font-size: 18px;
}
.jumbotron h1{
	font-size:  36px;
	padding: 0 0 0 20px;
}
.jumbotron h4{
	font-size: 18px;
	padding: 0 0 0 20px;
}
.info-content h4{
	font-size: 25px;
}



}
/*底部*/
#footer{
	color: #666;
	background-color: #eee;
	border-top: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}	
.tab2{
	background: #eee;
	padding: 60px 20px;
	text-align: center;
}
.tab3{
	padding: 40px 0;
	text-align: center;
	}
.tab2 img{
	width: 40%;
	height: 40%;
	}
.tab3 img{
	width: 65%;
	height: 65%;
	
}
.text h3{
	font-size: 20px;
}
.text p{
	font-size: 14px;
}
	

.container strong{
	color: #F4D03F;
	}*
	
#information{
	background-color: #eee;
	padding: 40px 0;
}
.info-content{
	background-color: #fff;
	margin-bottom: 1vh;
	
}
.info-content img{
	margin: 12px 0;
}
.info-content h4{
	padding: 2px 0 0 0;
	color: #333;
	font-size: 17px;
}
.info-content p{
	line-height: 1.6;
}
#information .container-fluid{
	padding-top: 2px;
	padding: 0;
}














