<div class="row panel panel-default" ng-controller="productsCtrl">
	<!--左侧边栏-->
	<div class="col-md-3">
		<button class="btn btn-block btn-default btn-lg" ng-click="findCategory('all')" ng-class="classOffCategory('all')">全部</button>
		<button class="btn btn-block btn-default btn-lg" ng-click="findCategory(product)" ng-repeat="product in products|unique" ng-class="classOffCategory(product)">{{product}}</button>
	</div>
	<div class="col-md-9">
		<div class="well" ng-repeat="product in pageProducts">
			<h3>{{product.name}}<span class="pull-right label label-primary ">{{product.price|currency:"₤"}}</span></h3>
			<button class="btn btn-success pull-right" ng-click="addToCart(product)" >加入购物车</button>
			<span class="lead">{{product.description}}</span>
		</div>
		<div class="pull-right btn-group">
			<button class="btn btn-default" ng-class="classPage(yema)" ng-click="productsPerpage(yema,3)" ng-repeat="yema in pages(3)">{{yema}}</button>
		</div>
	</div>
</div>